<h1>Dice Game</h1>
<br>
<img src="http://jeffcohenonline.com/dice/<%= @numbers[0] %>.png">
<img src="http://jeffcohenonline.com/dice/<%= @numbers[1] %>.png">
<br>
<h3><%= @game_text %></h3>
<br><br><br>
<h2><a href=<%= @reset_page %>><%= @reset_text %></a></h2>