<h1>Rock, Paper, Scissors</h1>
<body>Click on your weapon of choice to play</body>
<br><br>

<a href="/rps/show?your_pick=<%= @rock %>"><img src="http://<%= @rock %>"></a>
<br><br>
<a href="/rps/show?your_pick=<%= @paper %>"><img src="http://<%= @paper %>"></a>
<br><br>
<a href="/rps/show?your_pick=<%= @scissors %>"><img src="http://<%= @scissors %>"></a>